/*Universal section*/
main{
    position: relative;
    top: 150px;
}

body{
    background-image: url("../Images/cheesecake\ backgroud.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}



/*header section*/
header{
    display: inline-flex; 
}

.header{
    font-family: "dancing script", sans-serif;
    text-align: center;
    font-size: 35px;
    background-color:aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 100;
}

.header h1{
    margin: auto;
}

.header h4{
    margin-top: 10px;
}

@media only screen and (max-width:480px){
    .header h4{
        display: none;
    }
    .header h1{
        font-size: 50px;
        margin: 45px 0;
    }
}
/*intro section*/

.intro{
    text-align: center;
}

.intro h1{
    font-family: itim, sans-serif ;
    font-size: 40px;

}

.intro p{
    font-size: 20px;
    margin: 0 50px;
}

/*flavor section*/
.flavors{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}
.flavorhead{
    width: 100%;
}

.flavorhead h2{
    text-align: center;
    font-size: 40px;
    font-family: itim, sans-serif ;
}

.flavorprice{
    display: inline-flex;
    width: 50%;
    
    justify-content: center;
    

}
.flavorprice ul{
    list-style-type: none;
    font-size: 20px;
    
}

.flavorleft{
    width: 225px;
    
    
}

.flavorright{
   width: 200px;
   text-align: center;
}

.flavorinquires{
    width: 50%;

}

.flavorinquires h2{
    text-align: center;
    font-size: 35px;
    font-family: itim, sans-serif ;
}

.flavorinquires p{
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width:500px){
        .flavors{
        display: block;
        
       }
       .flavorprice{
           
           width: 100%;
       }
       .flavorinquires{
           width: 100%;
       }
}

/*gallerysection*/

.gallerysection{
    display: inline-flex;
    flex-wrap: wrap;
}

.gallery{
    width: 100%;
}

.galleryhead{
    text-align: center;
    width: 100%;
    font-family: itim, sans-serif ;
    font-size: 30px;
}

.galleryrow1{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.galleryrow2{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.gallery img{
    width: 250px;
    height: 250px;
    border-radius: 5%;
    
}

.imgdetail{
    display: block;
    text-align: center;
    flex-wrap: wrap;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
}
.galleryrows{
    display: none;
}
@media only screen and (max-width:550px){
    .imgdetail{
        display: block;
        width: 100%;
    }
    .gallery img{
        width: 90%;
        padding: 0 20px;
    }
    .galleryrow1{
        display: none;
    }
    .galleryrow2{
        display: none;
    }
    .galleryrows{
        display: block;
        height: 318px;
        overflow: scroll;
    }
}
/*thankyou*/

.thankyou{
    text-align: center;
    font-size: 50px;
}

/*footer section*/

.contact{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
 .contact h2{
     text-align: center;
     width: 100%;
 }
 .contact p{
     width: 100%;
     text-align: center;
 }
 .contactmobile{
     display: none;
 }

 @media only screen and (max-width:500px){
     .contact p{
         display: none;
     }
     .contactmobile{
         display: block;
         text-align: center;
         padding-bottom: 15px;
     }
 }